<?xml version="1.0" encoding="UTF-8"?>

<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="obj1" class="first.A" scope="singleton" lazy-init="false">
	 <property name="obj" ref="obj2"></property></bean>
	
	
	<bean id="obj2" class="first.B" scope="prototype">
	 <property name="obj" ref="obj3"></property></bean>
	
	
	
	<bean id="obj3" class="first.C" scope="prototype">
	 <constructor-arg name="name" value="rishabh" />
	 <constructor-arg name="id" value="12" />
	  <constructor-arg name="age" value="20" />
	</bean>
	
    
</beans>